final node red.txt
[{"id":"48fa8089.83e68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb7ed5ae.e5fa48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ee039ce2.6d7ac","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db4c449b.407328","type":"ui_group","z":"","name":"Group 2","tab":"dbe69fa1.48a7e","order":1,"disp":true,"width":"16","collapse":false},{"id":"405110ea.fd52f","type":"ui_group","z":"","name":"Current Values","tab":"dbe69fa1.48a7e","order":2,"disp":true,"width":"5","collapse":true},{"id":"4b25cda1.2682c4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"DB_Ultrasonic","tz":""},{"id":"dbe69fa1.48a7e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f63a783.e4a8f88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee6ef292.38d5","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"9653bfeb.f01bd","type":"ui_group","z":"","name":"Group 1","tab":"a79b88ba.f2f888","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c85002a.045dd","type":"ui_group","z":"","name":"Check Balance","tab":"a79b88ba.f2f888","order":1,"disp":false,"width":"2","collapse":false},{"id":"a79b88ba.f2f888","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f661dea1.47e16","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83d51e55.2633f","type":"ui_group","z":"","name":"Group 2","tab":"f14436ca.cf0b48","order":1,"disp":true,"width":"16","collapse":false},{"id":"e00cff2b.8ffd4","type":"ui_group","z":"","name":"Current Values","tab":"f14436ca.cf0b48","order":2,"disp":true,"width":"5","collapse":true},{"id":"7428a430.6ec05c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"DB_Ultrasonic","tz":""},{"id":"f14436ca.cf0b48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad940bc7.ab4178","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"387d6622.2756fa","type":"ui_group","z":"","name":"Group 1","tab":"bc06d02a.20d5d","order":1,"disp":true,"width":"6","collapse":false},{"id":"90958c0b.68c09","type":"ui_group","z":"","name":"Check Balance","tab":"bc06d02a.20d5d","order":1,"disp":false,"width":"2","collapse":false},{"id":"bc06d02a.20d5d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3f58f27.693550e","type":"mqtt in","z":"48fa8089.83e68","name":"No_Filter","topic":"esp32/ultrasonic","qos":"2","broker":"ee039ce2.6d7ac","x":240,"y":120,"wires":[["b5e07cdc.30202","35eca293.6efa8e","241b5ebb.6f21b2"]]},{"id":"b5e07cdc.30202","type":"ui_chart","z":"48fa8089.83e68","name":"","group":"db4c449b.407328","order":1,"width":0,"height":0,"label":"Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0 m","ymax":"3 m","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#000080","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":40,"wires":[[],[]]},{"id":"c08344ed.6d5518","type":"mqtt in","z":"48fa8089.83e68","name":"Avg_Filter","topic":"esp32/ultrasonic2","qos":"2","broker":"ee039ce2.6d7ac","x":220,"y":200,"wires":[["b5e07cdc.30202","b6d6ba7e.591878","1bb7f278.713fee"]]},{"id":"bc3dab93.011498","type":"mqtt in","z":"48fa8089.83e68","name":"Exp_Filter","topic":"esp32/ultrasonic3","qos":"2","broker":"ee039ce2.6d7ac","x":240,"y":280,"wires":[["b5e07cdc.30202","fce9d1a.d9b9e3","8e19e0e0.be15f"]]},{"id":"35eca293.6efa8e","type":"ui_gauge","z":"48fa8089.83e68","name":"","group":"405110ea.fd52f","order":3,"width":"5","height":"5","gtype":"donut","title":"RAW Data","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"b6d6ba7e.591878","type":"ui_gauge","z":"48fa8089.83e68","name":"","group":"405110ea.fd52f","order":4,"width":"5","height":"5","gtype":"donut","title":"Running Average","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":260,"wires":[]},{"id":"fce9d1a.d9b9e3","type":"ui_gauge","z":"48fa8089.83e68","name":"","group":"405110ea.fd52f","order":5,"width":"5","height":"5","gtype":"donut","title":"Exponential Average","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":300,"wires":[]},{"id":"241b5ebb.6f21b2","type":"function","z":"48fa8089.83e68","name":"String To Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"no_filter\",msg.payload)\nvar no_filter=msg.payload;\nmsg.payload=no_filter;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["c96390b9.d22e2"]]},{"id":"13b2a283.57b72d","type":"mysql","z":"48fa8089.83e68","mydb":"4b25cda1.2682c4","name":"Database","x":820,"y":380,"wires":[["e5887a67.a117a8"]]},{"id":"c5f9e3e4.da0e3","type":"function","z":"48fa8089.83e68","name":"Send to Database","func":"var nofilter = global.get(\"no_filter\");\nvar avgfilter = global.get(\"avg_filter\");\nvar expfilter = global.get(\"exp_filter\");\nvar time = global.get(\"time\");\nvar formatted =0;\nvar hello='Hello';\nvar sql = [];\nvar outputs = [];\nsql = \"INSERT INTO `Sensor_Data`(`ID`, `Date_Time`, `Raw Data`, `Running Average`, `Exponential Average`) VALUES ('0', '\"+ time + \"' , \" + nofilter + \", \" + avgfilter + \", \" + expfilter + \")\";\noutputs.push({topic:sql}); \n\nreturn [outputs];\n\n","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["13b2a283.57b72d"]]},{"id":"e5887a67.a117a8","type":"debug","z":"48fa8089.83e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":480,"wires":[]},{"id":"1bb7f278.713fee","type":"function","z":"48fa8089.83e68","name":"String to Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"avg_filter\",msg.payload)\nvar avg_filter= msg.payload;\nmsg.payload=avg_filter;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["eab60b5b.adfb08"]]},{"id":"8e19e0e0.be15f","type":"function","z":"48fa8089.83e68","name":"String to Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"exp_filter\",msg.payload)\nvar exp_filter=msg.payload;\nmsg.payload=exp_filter;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["e9c91794.4f7228"]]},{"id":"c96390b9.d22e2","type":"function","z":"48fa8089.83e68","name":"","func":"msg.payload=global.get(\"no_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["593b9d56.3831a4"]]},{"id":"eab60b5b.adfb08","type":"function","z":"48fa8089.83e68","name":"","func":"msg.payload=global.get(\"avg_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["593b9d56.3831a4"]]},{"id":"e9c91794.4f7228","type":"function","z":"48fa8089.83e68","name":"","func":"msg.payload=global.get(\"exp_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["593b9d56.3831a4"]]},{"id":"1092805.eb6168","type":"function","z":"48fa8089.83e68","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n    'year':\t\tdt.getFullYear(),\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\nvar count=dt.getFullYear()+dt.getDate();\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[[]]},{"id":"f2fa7a34.816908","type":"inject","z":"48fa8089.83e68","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":178,"y":560,"wires":[["3a943153.f26dce"]]},{"id":"593b9d56.3831a4","type":"simpletime","z":"48fa8089.83e68","name":"Time(optional)","x":280,"y":420,"wires":[["6907e386.239a3c"]]},{"id":"6907e386.239a3c","type":"function","z":"48fa8089.83e68","name":"Date and Time","func":"//global.set(\"time\",msg.mytime)\n//var time=msg.mytime;\n//msg.payload=time;\nd = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\nglobal.set(\"time\",dformat);\nvar time=dformat;\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["c5f9e3e4.da0e3","36d6880e.9f0728"]]},{"id":"36d6880e.9f0728","type":"debug","z":"48fa8089.83e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":540,"wires":[]},{"id":"a5d471f4.6496c","type":"debug","z":"48fa8089.83e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":640,"wires":[]},{"id":"3a943153.f26dce","type":"function","z":"48fa8089.83e68","name":"","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld=dformat;\n\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":280,"y":640,"wires":[["a5d471f4.6496c"]]},{"id":"73c1bfd9.8f9fe","type":"comment","z":"48fa8089.83e68","name":"Connect to send to DB","info":"","x":120,"y":340,"wires":[]},{"id":"6b7ecf10.928fb","type":"function","z":"48fa8089.83e68","name":"GSM","func":"var expfilter = global.get(\"exp_filter\");\n//expfilter=msg.payload\nmsg.payload=expfilter+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":400,"wires":[["57fbd0ed.7f15c","83649e2a.20cf2"]]},{"id":"83649e2a.20cf2","type":"serial out","z":"48fa8089.83e68","name":"","serial":"ee6ef292.38d5","x":1240,"y":260,"wires":[]},{"id":"57fbd0ed.7f15c","type":"debug","z":"48fa8089.83e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":380,"wires":[]},{"id":"1ed4c465.70477c","type":"serial out","z":"cb7ed5ae.e5fa48","name":"","serial":"ad940bc7.ab4178","x":840,"y":140,"wires":[]},{"id":"3473b52e.0f6c5a","type":"inject","z":"cb7ed5ae.e5fa48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373.08335876464844,"y":167.9618148803711,"wires":[["8845e946.3cd4b8"]]},{"id":"8845e946.3cd4b8","type":"function","z":"cb7ed5ae.e5fa48","name":"","func":"msg.payload =\"399\\n\";\n//global.set(\"exp_filter\",msg.payload)\n//var exp_filter=msg.payload;\n//msg.payload=exp_filter;\nreturn msg;","outputs":1,"noerr":0,"x":567.5242652893066,"y":160.9132137298584,"wires":[["1ed4c465.70477c"]]},{"id":"9c645641.0843c8","type":"serial in","z":"cb7ed5ae.e5fa48","name":"","serial":"ad940bc7.ab4178","x":401.06944274902344,"y":252.96183013916016,"wires":[["1cf7aa12.8f4696","4a0c8595.f4668c"]]},{"id":"1cf7aa12.8f4696","type":"debug","z":"cb7ed5ae.e5fa48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":873.5173950195312,"y":252.93402099609375,"wires":[]},{"id":"4a0c8595.f4668c","type":"ui_text","z":"cb7ed5ae.e5fa48","group":"387d6622.2756fa","order":1,"width":0,"height":0,"name":"","label":"Balance","format":"{{msg.payload}}","layout":"col-center","x":806.0833740234375,"y":361.7117919921875,"wires":[]},{"id":"4348e2c1.660ebc","type":"ui_button","z":"cb7ed5ae.e5fa48","name":"","group":"90958c0b.68c09","order":3,"width":"2","height":"1","passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":429.06945419311523,"y":50.368072509765625,"wires":[["8845e946.3cd4b8"]]},{"id":"a0d5a9e7.822fe8","type":"inject","z":"48fa8089.83e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":320,"wires":[["6b7ecf10.928fb"]]}]