node red.txt
[{"id":"ca5c682f.7afb58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40d07140.643b1","type":"mqtt in","z":"ca5c682f.7afb58","name":"No_Filter","topic":"esp32/ultrasonic","qos":"2","broker":"8eac0af7.834af8","x":240,"y":120,"wires":[["3963292c.7072f6","d71e7ebb.71101","bed92a16.842558"]]},{"id":"3963292c.7072f6","type":"ui_chart","z":"ca5c682f.7afb58","name":"","group":"636c1704.1a7b88","order":1,"width":0,"height":0,"label":"Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0 m","ymax":"3 m","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#000080","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":40,"wires":[[],[]]},{"id":"9eca1fcf.542bf","type":"mqtt in","z":"ca5c682f.7afb58","name":"Avg_Filter","topic":"esp32/ultrasonic2","qos":"2","broker":"8eac0af7.834af8","x":220,"y":200,"wires":[["3963292c.7072f6","5f4df538.e864cc","501a5fa6.bc098"]]},{"id":"14703368.9e3cad","type":"mqtt in","z":"ca5c682f.7afb58","name":"Exp_Filter","topic":"esp32/ultrasonic3","qos":"2","broker":"8eac0af7.834af8","x":240,"y":280,"wires":[["3963292c.7072f6","b40bd078.fc33b","a70b008.80135"]]},{"id":"d71e7ebb.71101","type":"ui_gauge","z":"ca5c682f.7afb58","name":"","group":"e79cf98c.006fb8","order":3,"width":"5","height":"5","gtype":"donut","title":"RAW Data","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"5f4df538.e864cc","type":"ui_gauge","z":"ca5c682f.7afb58","name":"","group":"e79cf98c.006fb8","order":4,"width":"5","height":"5","gtype":"donut","title":"Running Average","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":260,"wires":[]},{"id":"b40bd078.fc33b","type":"ui_gauge","z":"ca5c682f.7afb58","name":"","group":"e79cf98c.006fb8","order":5,"width":"5","height":"5","gtype":"donut","title":"Exponential Average","label":"m","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":300,"wires":[]},{"id":"1f3dfd6.692a503","type":"ui_template","z":"ca5c682f.7afb58","group":"636c1704.1a7b88","name":"UI Table","order":2,"width":"16","height":"7","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Timestamp</th>\n    <th>Value</th> \n    <th>Bool</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{msg.payload}}</td>\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].VALUE}}</td> \n    <td>{{msg.payload[$index].BOOL}}</td>\n  </tr>\n</table","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":20,"wires":[[]]},{"id":"bed92a16.842558","type":"function","z":"ca5c682f.7afb58","name":"String To Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"no_filter\",msg.payload)\nvar no_filter=msg.payload;\nmsg.payload=no_filter;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["276462fa.f5dc6e"]]},{"id":"35c5e116.a8d0ee","type":"mysql","z":"ca5c682f.7afb58","mydb":"e2eb3a92.24a278","name":"Database","x":820,"y":380,"wires":[["59afa96e.5982f8"]]},{"id":"dab3a6a3.839c98","type":"function","z":"ca5c682f.7afb58","name":"Send to Database","func":"var nofilter = global.get(\"no_filter\");\nvar avgfilter = global.get(\"avg_filter\");\nvar expfilter = global.get(\"exp_filter\");\nvar time = global.get(\"time\");\nvar formatted =0;\nvar hello='Hello';\nvar sql = [];\nvar outputs = [];\nsql = \"INSERT INTO `Sensor_Data`(`ID`, `Date_Time`, `Raw Data`, `Running Average`, `Exponential Average`) VALUES ('0', '\"+ time + \"' , \" + nofilter + \", \" + avgfilter + \", \" + expfilter + \")\";\noutputs.push({topic:sql}); \n\nreturn [outputs];\n\n","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["35c5e116.a8d0ee"]]},{"id":"59afa96e.5982f8","type":"debug","z":"ca5c682f.7afb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":480,"wires":[]},{"id":"501a5fa6.bc098","type":"function","z":"ca5c682f.7afb58","name":"String to Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"avg_filter\",msg.payload)\nvar avg_filter= msg.payload;\nmsg.payload=avg_filter;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["cf6975c5.2bf9f8"]]},{"id":"a70b008.80135","type":"function","z":"ca5c682f.7afb58","name":"String to Int","func":"msg.payload = Number(msg.payload);\nglobal.set(\"exp_filter\",msg.payload)\nvar exp_filter=msg.payload;\nmsg.payload=exp_filter;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["ab63de87.32173"]]},{"id":"276462fa.f5dc6e","type":"function","z":"ca5c682f.7afb58","name":"","func":"msg.payload=global.get(\"no_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["388d4a0f.97f4e6"]]},{"id":"cf6975c5.2bf9f8","type":"function","z":"ca5c682f.7afb58","name":"","func":"msg.payload=global.get(\"avg_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["388d4a0f.97f4e6"]]},{"id":"ab63de87.32173","type":"function","z":"ca5c682f.7afb58","name":"","func":"msg.payload=global.get(\"exp_filter\");\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["388d4a0f.97f4e6"]]},{"id":"9736f5e6.e1a218","type":"function","z":"ca5c682f.7afb58","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n    'year':\t\tdt.getFullYear(),\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\nvar count=dt.getFullYear()+dt.getDate();\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[[]]},{"id":"a8d3e129.64d4a","type":"inject","z":"ca5c682f.7afb58","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":178,"y":560,"wires":[["b90037ed.182388"]]},{"id":"388d4a0f.97f4e6","type":"simpletime","z":"ca5c682f.7afb58","name":"Time(optional)","x":280,"y":420,"wires":[[]]},{"id":"cdfe9ebb.72fcd","type":"function","z":"ca5c682f.7afb58","name":"Date and Time","func":"//global.set(\"time\",msg.mytime)\n//var time=msg.mytime;\n//msg.payload=time;\nd = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\nglobal.set(\"time\",dformat);\nvar time=dformat;\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["dab3a6a3.839c98","b42e0e83.07136"]]},{"id":"b42e0e83.07136","type":"debug","z":"ca5c682f.7afb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":540,"wires":[]},{"id":"fb468f05.31016","type":"debug","z":"ca5c682f.7afb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":640,"wires":[]},{"id":"b90037ed.182388","type":"function","z":"ca5c682f.7afb58","name":"","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld=dformat;\n\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":280,"y":640,"wires":[["fb468f05.31016"]]},{"id":"2bd20eef.8b8322","type":"comment","z":"ca5c682f.7afb58","name":"Connect to send to DB","info":"","x":120,"y":340,"wires":[]},{"id":"8eac0af7.834af8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"636c1704.1a7b88","type":"ui_group","z":"","name":"Group 2","tab":"acc4e43a.73e698","order":1,"disp":true,"width":"16","collapse":false},{"id":"e79cf98c.006fb8","type":"ui_group","z":"","name":"Current Values","tab":"acc4e43a.73e698","order":2,"disp":true,"width":"5","collapse":true},{"id":"e2eb3a92.24a278","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"DB_Ultrasonic","tz":""},{"id":"acc4e43a.73e698","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]